.profile__info {
  text-align: center;
  display: grid;
  grid-template-columns: 18px 1fr 18px;
  grid-template-areas:
  ". title btn-edit"
  ". subtitle .";
  gap: 8px 10px;
  align-items: center;
  margin: 26px 0 0 0;
}
/* стили для планшета */
@media screen and (min-width: 736px) {
  .profile__info {
    grid-template-columns: 1fr 24px;
    grid-template-areas:
  "title btn-edit"
  "subtitle .";
    gap: 16px 18px;
    padding: 0 0 0 30px;
    margin: 0;
  }
}
