.popup__container {
  min-width: 282px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* код для разрешения до 619 */
@media screen and (min-width: 619px) {
  .popup__container {
    min-width: 430px;
  }
}
