.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 736px) {
  /* стили для планшета */
  .profile__title {
    font-size: 42px;
    line-height: 48px;
  }
}
