.popup__form {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  justify-items: left;
  margin: 0 auto;
  min-width: 282px;
}

/* код для разрешения до 619 */
@media screen and (min-width: 619px) {
  .popup__form {
    min-width: 358px;
  }
}
