.root {
  /*Общие стили*/
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, "sans-serif";
  font-weight: 400;
  margin: 0 auto;
  padding: 0;

  /*Сглаживание*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /*Рендеринг*/
  text-rendering: optimizeLegibility;

  /*Подгонка размера текста*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /*Ограничение поддерживаемых разрешений*/
  max-width: 880px;
  min-width: 320px;
}
