.element__info {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 20px;
  justify-items: start;
  align-items: center;
  padding: 25px 20px 26px 21px;
}

/* стили для планшета */
@media screen and (min-width: 736px) {
  .element__info {
    padding: 25px 19px 26px 21px;
  }
}

