.element {
  border-radius: 10px;
  background-color: #fff;
  font-size: 0;
  list-style: none;
  /*margin-bottom: 20px;*/
}

/* код для разрешения до 918 */
@media screen and (min-width: 918px) {
  .element {
    max-width: 282px;

  }

}
